<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:replace="layouts/plantilla :: cabecera">

    </head>
<body>
    <div th:replace="layouts/plantilla :: barra">
        
    </div>

    <section class="home">
        <div class="homecont">
            <i class='bx bx-menu' ></i>
        </div>
        <main>
            <div class="container-fluid px-4">
                
                <div class="alert alert-warning alert-dismissible fade show" th:if="${mensaje != null}" role="alert">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <form th:action="@{/detalle/form}" th:object="${detalle}" method="post">
                    <div class="card mt-3">
                        <div class="card-header">
                            Registrar Detalles
                        </div>    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label>Pedido</label>
                                    <select class="form-select" th:field="*{pedido.id}">
                                        <option value="">Seleccione un pedido:</option>
                                        <option th:each="item: ${listaPedidos}" th:value="${item.id}" th:text="${item.fecha}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label>Producto</label>
                                    <select class="form-select" th:field="*{producto.id}">
                                        <option value="">Seleccione una opcion:</option>
                                        <option th:each="item: ${listaProductos}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label>Introducir Cantidad:</label>
                                    <input th:field="*{cantidad}" type="text" placeholder="Ingrese Cantidad" class="form-control">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Precio del producto:</label>
                                    <input th:field="*{precio}" type="text" placeholder="Ingrese Precio" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fa-solid fa-floppy-disk"></i>
                                        Guardar Detalle</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
                <div class="card mt-5">
                    <div class="card-header">
                        Detalles Registrados
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Pedido</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${listaDetalles}">
                                    <td th:text="${item.pedido.fecha}"></td>
                                    <td th:text="${item.producto.nombre}"></td>
                                    <td th:text="${item.cantidad}"></td>
                                    <td th:text="${item.precio}"></td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-warning editarDetalle"
                                            th:data-id="${item.id}"
                                            th:data-pedido="${item.pedido.id}"
                                            th:data-producto="${item.producto.id}"
                                            th:data-nombre="${item.cantidad}"
                                            th:data-precio="${item.precio}">
                                            <i class="fa-solid fa-pen-to-square"></i> Editar
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a th:href="@{/detalle/eliminar/} + ${item.id}" class="btn btn-danger"
                                            onclick="return confirm('¿Desea eliminar el detalle?')">
                                            <i class="fa-solid fa-trash-can"></i> Eliminar
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        </section>

        <!-- Modal -->

        <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Detlle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/detalle/form}" th:object="${detalle}" method="post">
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label>Pedido:</label>
                                <select class="form-select" name="pedido.id" id="cboPedido">
                                    <option value="">Seleccione una opción:</option>
                                    <option th:each="item: ${listaPedidos}" th:value="${item.id}" th:text="${item.fecha}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label>Producto:</label>
                                <select class="form-select" name="producto.id" id="cboProducto">
                                    <option value="">Seleccione una opción:</option>
                                    <option th:each="item: ${listaProductos}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label>Ingrese Cantidad:</label>
                                <input type="text" name="cantidad" id="txtCantidad" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label>Ingrese Precio:</label>
                                <input type="text" name="precio" id="txtPrecio" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">
                            <i class="fa-solid fa-floppy-disk"></i> Guardar cambios
                        </button>
                    </div>
                </form>
            </div>
            </div>
        </div>

    <div th:replace="layouts/plantilla :: librerias">

    </div>
    <script type="text/javascript" th:src="@{/js/detalle.js}"></script>
</body>
</html>