<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:replace="layouts/plantilla :: cabecera">

    </head>
<body>
    <div th:replace="layouts/plantilla :: barra">
        
    </div>

    <section class="home">
        <div class="homecont">
            <i class='bx bx-menu' ></i>
        </div>
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-header" style="background-color: #9264d6; color: white;">
                    <span th:text="${titulo}"></span>
                </div>
                <form th:action="@{/trabajadores/guardar}" th:object="${trabajador}" method="post">
                    <div class="card-body">
                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Nombre del Trabajador:</label>
                            <input th:field="*{nombre}" type="text" class="form-control"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Cargo del Trabajador:</label>
                            <input th:field="*{cargo}" type="text" class="form-control"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Salario del Trabajador:</label>
                            <input th:field="*{salario}" type="text" class="form-control"/>
                        </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <button type="button" class="btn " onclick="limpiarTrabajador();" style="background-color: #baa1e2;"> Nuevo Trabajador</button>
                                <button type="submit" class="btn " style="background-color: #baa1e2;">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    Guardar Trabajador</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <div class="card-header" style="background-color: #9264d6; color: white;">
                    trabajadores Registrados
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cargo</th>
                                    <th>Sueldo</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${listarTrabajador}">
                                    <td th:text="${item.nombre}"></td>
                                    <td th:text="${item.cargo}"></td>
                                    <td th:text="${item.salario}"></td>
                                    <td class="text-center"><a th:href="@{/trabajadores/editar/} + ${item.id}" class="btn" style="background-color: #84c4e9;">Editar</a> </td>
                                    <td class="text-center"><a th:href="@{/trabajadores/eliminar/} + ${item.id}" class="btn " style="background-color: #e93535; color: white;" onclick="return confirm('Desea eliminar al trabajador')">Eliminar</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </section>
    <div th:replace="layouts/plantilla :: librerias">

    </div>
    <script th:src="@{/js/libreriaTodo.js}"></script> 
</body>
</html>