<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:replace="layouts/plantilla :: cabecera">

    </head>
<body>
    <div th:replace="layouts/plantilla :: barra">
        
    </div>

    <section class="home">
        <div class="homecont">
            <i class='bx bx-menu' ></i>
        </div>
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-header" style="background-color: #9264d6; color: white;">
                    <span th:text="${titulo}"></span>
                </div>
                <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
                    <div class="card-body">
                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Nombre del Cliente:</label>
                            <input th:field="*{nombre}" type="text" class="form-control" style="border-color: #9869dd;" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Direccion del Cliente:</label>
                            <input th:field="*{direccion}" type="text" class="form-control" style="border-color: #9869dd;"/>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Telefono del Cliente:</label>
                                <input th:field="*{telefono}" type="text" class="form-control" style="border-color: #9869dd;"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Correo del Cliente:</label>
                                <input th:field="*{correo}" type="text" class="form-control" style="border-color: #9869dd;"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button type="button" class="btn " onclick="limpiarCliente();" style="background-color: #baa1e2;"> Nuevo Cliente</button>
                            <button type="submit" class="btn " style="background-color: #baa1e2;">
                                <i class="fa-solid fa-floppy-disk"></i>
                                Guardar Cliente</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <div class="card-header">
                    Clientes Registrados
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color: #9264d6; color: white; border-color: #9869dd;" >
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>telefono</th>
                                    <th>correo</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${listarClientes}">
                                    <td th:text="${item.nombre}"></td>
                                    <td th:text="${item.direccion}"></td>
                                    <td th:text="${item.telefono}"></td>
                                    <td th:text="${item.correo}"></td>
                                    <td class="text-center"><a th:href="@{/clientes/editar/} + ${item.id}" class="btn" style="background-color: #84c4e9;">Editar</a> </td>
                                    <td class="text-center"><a th:href="@{/clientes/eliminar/} + ${item.id}" class="btn " style="background-color: #e93535; color: white;" onclick="return confirm('Desea eliminar al cliente')">Eliminar</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </section>
    <div th:replace="layouts/plantilla :: librerias">

    </div>
    <script th:src="@{/js/libreriaTodo.js}"></script> 

</body>
</html>