<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8">
    <title> PANEL </title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="barra cerrar">
    <div class="detalleslogo">
        <i class='bx bxs-dog'></i>
        <span class="logonom">MASCOREJITAS</span>
    </div>
    <ul class="links">
        <li>
        <a href="#">
            <i class='bx bx-grid-alt' ></i>
            <span class="linknom">PANEL</span>
        </a>
        <ul class="submenu blank">
            <li><a class="linknom" href="#">PANEL</a></li>
        </ul>
        </li>
        <li>
        <div class="iconlinks">
            <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="linknom">Categoria</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="submenu">
            <li><a class="linknom" href="#">CATEGORIA</a></li>
            <li><a href="#">PERROS</a></li>
            <li><a href="#">GATOS</a></li>
            <li><a href="#">OTROS</a></li>
        </ul>
        </li>
        <li>
        <div class="iconlinks">
            <a href="#">
            <i class='bx bx-message-dots'></i>
            <span class="linknom">PEDIDOS</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="submenu">
            <li><a class="linknom" href="#">PEDIDOS</a></li>
            <li><a href="#">PERROS</a></li>
            <li><a href="#">GATOS</a></li>
            <li><a href="#">OTROS</a></li>
        </ul>
        </li>
        <li>
        <a href="#">
            <i class='bx bx-hard-hat'></i>
            <span class="linknom">TRABAJADORES</span>
        </a>
        <ul class="submenu blank">
            <li><a class="linknom" href="#">TRABAJADORES</a></li>
        </ul>
        </li>
        <li>
        <a href="#">
            <i class='bx bxs-user-rectangle'></i>
            <span class="linknom">CLIENTES</span>
        </a>
        <ul class="submenu blank">
            <li><a class="linknom" href="#">CLIENTES</a></li>
        </ul>
        </li>
        <li>
        <div class="iconlinks">
            <a href="#">
                <i class='bx bx-box'></i>
            <span class="linknom">PROVEEDOR</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="submenu">
            <li><a class="linknom" href="#">PROVEEDOR</a></li>
            <li><a href="#">PERROS</a></li>
            <li><a href="#">GATOS</a></li>
            <li><a href="#">OTROS</a></li>
        </ul>
        </li>
        <li>
        <a href="#">
            <i class='bx bx-map-alt'></i>
            <span class="linknom">ALCANCE</span>
        </a>
        <ul class="submenu blank">
            <li><a class="linknom" href="#">ALCANCE</a></li>
        </ul>
        </li>
        
        <li>
        <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="linknom">AJUSTES</span>
        </a>
        <ul class="submenu blank">
            <li><a class="linknom " href="#">AJUSTES</a></li>
        </ul>
        </li>
        <li>
    <div class="perfil">
        <div class="contenido">
        <img src="img/912265.png" alt="profileImg">
        </div>
        <div class="nombre-trabajo">
        <div class="perfilnom">SEBASTIAN</div>
        <div class="trabajo">TRABAJADOR</div>
        </div>
        <i class='bx bx-log-out'></i>
    </div>
    </li>
</ul>
    </div>
    <section class="home">
    <div class="homecont">
        <i class='bx bx-menu' ></i>
        <span class="texto">AQUI VA INFO</span>
    </div>
    </section>

    <script src="js/script.js"></script>

</body>
</html>
